@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    display: flex;
    align-items: center;
}

.left{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 361px;
    justify-content: left;
    background-color: #202123;
    align-items: center;

}

.left .new-chat{
    display: flex;
    width: 244px;
    height: 45px;
    color: white;
    border: 1px solid #444654;
    border-radius: 6px;
    background-color: #202123;
    justify-content: start;
    padding-left: 10px;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}

.left i{
    color: #C5C5D1;
    cursor: pointer;
    margin-right: 5px;
}

.left .icons-left p{
    color: rgb(156, 156, 156); 
    margin-bottom: 20px; 
}

.left .icons-left{
    margin-top: 630px;
    display: flex;
    flex-direction: column;
    
}

.left a i{
    margin-right: 10px;
}

.left a{
    text-decoration: none;
    margin-bottom: 30px;
    color: white;
    margin-left: 40px;
}

.right{
    position: relative;
    height: 100vh;
    width: calc(100% - 361px);
    background-color: #343541;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right h1{
    font-size: 34px;
    font-weight: 500;
    margin-right: 471px;
    margin-left: 131px;
    margin-bottom: 50px;
    height: 100px;
    color: white;
    text-align: center;
}

.right h2{
    font-size: 17px;
    font-weight: 500;
}

.right i {
    width: 22px;
    height: 22px;
}

.right .text1 {
    border-radius: 5px;
    border: none;
    width: 230px;
    margin-top: 20px;
    height: 63px;
    background-color: #444654;
    text-align: center;
}

.right .box-text{
    display: inline-flex;
    margin-left: 67px;
    
}

.right .examples{
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right .capabilities{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.right .limitations{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right input{
    width: 768px;
    height: 48px;
    margin-top: 95px;
    margin-left: 265px;
    margin-bottom: 10px;
    background-color: #40414E;
    border: none;
}



.GPT{
    width: 888px;
    height: 26px;
    margin-left: 216px;
    font-size: 12px;
    font-weight: normal;
}

.GPT p{
    color: #9A9B9F;
}

.GPT a{
    color: #9A9B9F;
}